<h1>Education</h1>

<div class="with-date">
    <h3>Instituto Tecnológico y de Estudios Superiores de Monterrey</h3>
    <p class="blue">08/2020 – 06/2024</p>
</div>

<p>Bachelor of Science in Computer Science and Technology</p>
<ul>
    <li><b>GPA: 94/100</b></li>
</ul>

<div class="with-date">
    <h3>John Abbott College</h3>
    <p class="blue">01/2019 – 05/2019</p>
</div>
<p>Exchange Program in Montreal, Canada</p>
<ul>
    <li><b>GPA: 97/100</b></li>
</ul>

<div class="with-date">
    <h3>PrepaTec</h3>
    <p class="blue">08/2017 - 06/2020</p>
</div>

<p>Highschool</p>
<ul>
    <li><b>GPA: 90/100</b></li>
</ul>