<div class="center-header">
    <div class="row">
        <div>
            <h1>Roberto Calleja</h1>
            <h3>Software Developer</h3>
            <div class="contact-information">
                <div>

                    <p>a01024834@itesm.mx</p>
                </div>
                <div>
                    <p>Monterrey, Mexico</p>
                </div>
                <div>
                    <p>rcallejap</p>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>