<h1>Projects</h1>

<div>   
    <div class="with-date">
        <h3>Webpage for Pastoral Hermano Mayor</h3>
        <p class="blue">02/2022 – 04/2022</p>
    </div>
    <ul>
        <li>Collaborated with a team of 5 members and developed a webpage for Pastoral del Hermano Mayor as a client using HTML, CSS, JavaScript, Unity, Microsoft SQL Server and various APIs.</li>
        <li>Created a unified database with all of their information on SQL</li>
        <li>Programed an API using JS, and created an internal dashboard to closely monitor their patients</li>
    </ul>
</div>

<div>
    <div class="with-date">
        <h3>DFA Machine</h3>
        <p class="blue">04/2022</p>
    </div>
    <ul>
        <li>Liaised with a team of 3 members and devised a Deterministic Finite Automata using Racket.</li>
        <li>Programmed an algorithm to detect C++ syntax using regular expressions.
        </li>
    </ul>
</div>

<div>
    <div class="with-date">
        <h3>Python multi-agents trafic simulation</h3>
        <p class="blue">08/2021-09/2022</p>
    </div>
    <ul>
        <li>Built a multi-agent traffic system and simulated the traffic flow around the university I attend and found the optimal configuration for the traffic light in each corner</li>
        <li>Displayed the simulation in Unity alongside a 3D model of the campus</li>
    </ul>
</div>